#scannerRoot{
    position: relative;
    min-height: 300px;
    width:  100%;

    max-height: 1000px;
    max-width: 1000px;

}

@media only screen and (min-width: 600px) {
    #scannerRoot {
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #scannerRoot {
        display: flex;
        align-items: center;
    }
}


#scannerRoot > video{
    object-fit: fill;
}

#scannerRoot > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

